@charset "UTF-8";

$regular: 'Noto Sans', sans-serif;
$orange: #f08700;
$blue: #009ee3;
$dark-green: #67803b;
$light-green: #c2cca9;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#es-biolage.es-biolage {
  font-family: $regular;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #000;
  }

  .es-kv {
    background-color: $light-green;
    margin: 0 auto;
    &__wrapper {
      position: relative;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &__left {
      margin: 0 auto;
      width: 100%;
    }
    &__image {
      @include img;
    }
    &__right {
      margin: 0 auto;
      padding: 30px 30px 30px 30px;
      width: 100%;
      text-align: center;
    }
    &__packshot {
      position: relative;
      @include img;
      max-height: 350px;
      padding-bottom: 25px;
    }
    &__logo {
      @include img;
      padding-bottom: 25px;
    }
    &__title {
      @include text;
      padding-bottom: 25px;
      color: $dark-green;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 35px;
    }
    &__subtitle {
      @include text;
      padding-bottom: 25px;
      color: $dark-green;
      font-weight: 500;
      font-size: 22px;
    }
  }
  .es-benefits{
    background-color: $dark-green;
    &__wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &__tile {
      width: 100%;
      padding: 15px;
    }
    &__title {
      @include text;
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      padding-bottom: 15px;
    }
    &__subtitle {
      @include text;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 15px;
    }
    &__text {
      @include text;
      color: #fff;
      font-weight: 300;
    }
    &__list {
      margin: 0;
      padding: 0 15px;
      color: #fff;
      font-weight: 300;
      & li {
        padding-bottom: 8px;
      }
    }

  }
  .es-ingredients{
    background-color: $light-green;
    &__wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &__left {
      width: 100%;
      padding: 20px 50px;
    }
    &__right {
      width: 100%;
    }
    &__image {
      @include img;
    }
    &__title {
      @include text;
      color: $dark-green;
      font-size: 22px;
      font-weight: 700;
      padding-bottom: 25px;
    }
    &__subtitle {
      @include text;
      color: $dark-green;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 25px;
    }
    &__text {
      @include text;
      color: $dark-green;
      padding-bottom: 25px;
      font-weight: 300;
    }
    &__list {
      margin: 0;
      padding: 0 15px;
      color: $dark-green;
      font-weight: 300;
      & li {
        padding-bottom: 8px;
      }
    }
  }
  .es-use{
    background-color: $light-green;
    &__wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &__left {
      width: 100%;
      padding: 20px 50px;
    }
    &__right {
      width: 100%;
    }
    &__image {
      @include img;
    }
    &__title {
      @include text;
      color: $dark-green;
      font-size: 22px;
      font-weight: 700;
      padding-bottom: 25px;
    }
    &__subtitle {
      @include text;
      color: $dark-green;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 25px;
    }
    &__text {
      @include text;
      color: $dark-green;
      padding-bottom: 25px;
      font-weight: 300;
    }
    &__list {
      margin: 0;
      padding: 0 15px;
      color: $dark-green;
      font-weight: 300;
      & li {
        padding-bottom: 8px;
      }
    }
  }
  .es-why{
    background-color: $dark-green;
    &__wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &__tile {
      width: 100%;
      padding: 15px;
    }
    &__title {
      @include text;
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      padding-bottom: 15px;
    }
    &__subtitle {
      @include text;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 15px;
    }
    &__text {
      @include text;
      color: #fff;
      font-weight: 300;
    }
    &__container {
      display: flex;
      justify-content: space-around;
      gap: 10px;
    }
    &__single {
      width: 100px;
    }
    &__item {
      @include img;
    }
    &__desc {
      @include text;
      font-size: 11px;
      text-align: center;
      color: #fff;
      padding-top: 10px;
    }
  }
  .es-ba {
    position: relative;
    min-height: 400px;
    &__image {
      @include img;
      max-height: 420px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
    &__title {
      @include text;
      color: $dark-green;
      font-weight: 700;
      font-size: 22px;
      padding: 15px;
      text-align: center;
    }
    &__before {
      @include text;
      color: $dark-green;
      font-weight: 700;
      font-size: 22px;
      padding: 15px;
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    &__after {
      @include text;
      color: $dark-green;
      font-weight: 700;
      font-size: 22px;
      padding: 15px;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}
@media screen and (min-width: 425px) {
  .es-ba {
    min-height: 450px !important;
  }
}
@media screen and (min-width: 480px) {
  .es-ba {
    min-height: 490px !important;
  }
}
@media screen and (min-width: 650px) {
  .es-kv {
    &__wrapper {
      flex-wrap: nowrap !important;
    }
    &__packshot {
      position: absolute !important;
      bottom: -20px;
      left: 50%;
      transform: translate(-50%,0);
    }
    &__left {
      width: 50% !important;
      height: 492px;
      overflow: hidden;
    }
    &__right {
      width: 50% !important;
      padding: 30px 5px 30px 30px;
      text-align: left !important;
    }
    &__title {
      padding-left: 50px !important;
      font-size: 45px !important;
    }
    &__subtitle {
      padding-left: 50px !important;
    }    
    &__logo {
      padding-left: 50px !important;
      padding-right: 30px !important;
    }
    &__image {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    &__packshot {
      max-height: 430px !important;
    }
  }
  .es-benefits {
    &__wrapper {
      flex-wrap: nowrap !important;
    }
    &__tile {
      width: 50% !important;
      padding: 30px !important;
    }
  }
  .es-ingredients {
    &__wrapper {
      flex-wrap: nowrap !important;
    }
    &__left {
      width: 50% !important;
    }
    &__right {
      width: 50% !important;
      height: 492px;
      overflow: hidden;
    }
    &__image {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }
  .es-use {
    &__wrapper {
      flex-wrap: nowrap !important;
    }
    &__left {
      width: 50% !important;
    }
    &__right {
      width: 50% !important;
      height: 492px;
      overflow: hidden;
    }
    &__image {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }
  .es-why {
    &__wrapper {
      flex-wrap: nowrap !important;
    }
    &__tile {
      width: 50% !important;
      padding: 30px !important;
    }
  }
}
@media screen and (min-width: 900px) {
  .es-kv {
    &__right {
      padding: 30px 5px 30px 30px;
    }
    &__title {
      padding-left: 50px !important;
      font-size: 55px !important;
    }
    &__subtitle {
      padding-left: 50px !important;
    }    
    &__logo {
      padding-left: 50px !important;
      padding-right: 50px !important;
    }
  }
}